数据合并主要包括下面两种操作：<br>
轴向连接（concatenation）：pd.concat()可以沿一个轴将多个DataFrame对象连接在一起，形成一个新的DataFrame对象。<br>
融合（merging）：pd.merge()方法可以根据一个或多个键将不同DataFrame中的行连接起来。<br>
concat()函数可以将数据根据不同的轴作进行合并。我们先看一下concat()的常用参数：<br>

In [ ]:
pd.concat(objs, axis=0, join='outer')

objs: series、dataframe或者是panel构成的序列list。<br>
axis： 需要合并链接的轴，0是行，1是列，默认是0。<br>
join：连接的方式 inner，或者outer，默认是outer。<br>

In [4]:
import pandas as pd
dict1={
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3']}
df1=pd.DataFrame(dict1)
print(df1)

dict2={
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']}
df2=pd.DataFrame(dict2)
print(df2)
pd.concat([df1,df2],axis=0,join='outer',ignore_index=True)
# 如果两个表的index都没有实际含义，使用ignore_index参数，置true，重新整理一个新的index。

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3
    B   C   D
0  B0  C0  D0
1  B1  C1  D1
2  B2  C2  D2
3  B3  C3  D3

C:\appdata\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  from ipykernel import kernelapp as app

     A   B   C    D
0   A0  B0  C0  NaN
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3   A3  B3  C3  NaN
4  NaN  B0  C0   D0
5  NaN  B1  C1   D1
6  NaN  B2  C2   D2
7  NaN  B3  C3   D3

In [5]:
pd.concat([df1,df2],axis=0,join='inner')

    B   C
0  B0  C0
1  B1  C1
2  B2  C2
3  B3  C3
0  B0  C0
1  B1  C1
2  B2  C2
3  B3  C3

In [6]:
merge(left, right, how='inner', on=None)

NameError: name 'merge' is not defined

参数介绍<br>
left和right：两个要合并的DataFrame<br>
how：连接方式，有inner、left、right、outer，默认为inner<br>
on：指的是用于连接的列索引名称，必须存在于左右两个DataFrame中，如果没有指定且其他参数也没有指定，则以两个DataFrame列名交集作为连接键<br>

In [10]:
import pandas as pd
left = pd.DataFrame({'key':['a','b','b','d'],'data1':range(4)})
print(left)

right = pd.DataFrame({'key':['a','b','c'],'data2':range(3)})
print(right)
pd.merge(left,right,on=['key'],how='outer')

  key  data1
0   a      0
1   b      1
2   b      2
3   d      3
  key  data2
0   a      0
1   b      1
2   c      2

  key  data1  data2
0   a    0.0    0.0
1   b    1.0    1.0
2   b    2.0    1.0
3   d    3.0    NaN
4   c    NaN    2.0

In [ ]:
import pandas as pd
df = pd.read_csv('/data/course_data/data_analysis/mouhu_users_2017.csv')
bools= df['关注者']>100
df1 = df[bools]
print(df1.shape)
print(df1)

首先判断每个用户的关注者数量是否大于100，大于则会返回True，表示该行被标记为True，否则被标记为False。bools记录了每一行是否符合筛选条件，是一个Series对象，其中的值是bool类型。<br>
然后，根据bools每行的值来对df进行筛选，值为True，表示对应的行会留下，否则，则去除。

In [ ]:
import pandas as pd
df = pd.read_csv('/data/course_data/data_analysis/mouhu_users_2017.csv')
bool1= df['关注者']>300
bool2= df['关注']>100
df2 = df[bool1 & bool2]
df2.head()

在数据获取过程中，数据的排序也是我们经常需要处理的问题。例如：我们需要找出关注者数量前十的用户信息

In [ ]:
import pandas as pd
df = pd.read_excel('/data/course_data/data_analysis/rate.xlsx',index_col='Country Code')
df.sort_index(inplace=True,ascending=True)
df.head()

read_excel()中的参数index_col='Country Code'作用是在读取文件的时候指定Country Code这一列数据为行索引。<br>
inplace=True参数和我们之前见过的作用一样，用来控制是否直接对原始数据进行修改。<br>
ascending可以控制排序的顺序，默认值为True从小到大排列，当它被设置为False的时候就可以实现倒序排列。<br>

In [ ]:
# 现在我们来完成第一个问题，获取某乎关注者数据前十的用户数据。那么，我们就需要根据关注者这一列数据进行排序。
import pandas as pd
df = pd.read_csv('/data/course_data/data_analysis/mouhu_users_2017.csv')
df.sort_values(by='关注者',ascending=False,inplace=True)
print(df.head(10))

by:决定了是按数据中的哪一列进行排序，将需要按照某列排序的列名赋值给by即可。<br>
ascending=False:将数据按照从大到小的顺序排列。<br>
inplace=True:用来控制是否直接对原始数据进行修改。