In [1]:
from pandas import Series
emp=['001','002','003','004','005','006']
name=['亚瑟', '后裔','小乔','哪吒' ,'虞姬','王昭君']
series = Series(data=name,index=emp)

# 获取数据的值
print(series.values)
# 获取索引的值
print(series.index.tolist())
# 获取每对索引和值
print(list(series.items()))

['亚瑟' '后裔' '小乔' '哪吒' '虞姬' '王昭君']
['001', '002', '003', '004', '005', '006']
[('001', '亚瑟'), ('002', '后裔'), ('003', '小乔'), ('004', '哪吒'), ('005', '虞姬'), ('006', '王昭君')]

# 【神仙的自我修养】

# 获取数据格式—对象名[]
# 获取多个不连续数据时是双层括号— 对象名[[]]
# 使用切片时使用的是:

In [ ]:
from pandas import Series
emp=['001','002','003','004','005','006']
name=['亚瑟', '后裔','小乔','哪吒' ,'虞姬','王昭君']
series = Series(data=name,index=emp)

# 使用索引值获取单个数据
print(series['001'])

# 使用索引值获取多个不连续的数据
print('索引下标',series[['002','004']])

# 使用切片获取连续的数据
print('索引切片',series['001':'004'])

# 我们自定的index值被叫做索引下标，没有设置index值时会有一个默认的值叫做位置下标。

In [ ]:
from pandas import Series
emp=['001','002','003','004','005','006']
name=['亚瑟', '后裔','小乔','哪吒' ,'虞姬','王昭君']
series = Series(data=name,index=emp)
# 获取单个数据
print(series[0])
# 获取多个不连续的数据
print('位置下标',series[[1,3]])
# 使用切片获取连续的数据
print('位置切片',series[0:3])

In [7]:
import pandas as pd

df_dict = {
	'name':['ZhangSan','LiSi','WangWu','ZhaoLiu'],
	'age':['18','20','19','22'],
	'weight':['50','55','60','80']
}
df = pd.DataFrame(data=df_dict,index=['001','002','003','004'])
print(df)
# 获取行数和列数
print(df.shape)

# 获取行索引
print(df.index.tolist())

# 获取列索引
print(df.columns.tolist())

# 获取数据的维度
print(df.ndim)

         name age weight
001  ZhangSan  18     50
002      LiSi  20     55
003    WangWu  19     60
004   ZhaoLiu  22     80
(4, 3)
['001', '002', '003', '004']
['name', 'age', 'weight']
2

In [8]:
# 获取前两条
df.head(2)
# 获取后两条
df.tail(2)

        name age weight
003   WangWu  19     60
004  ZhaoLiu  22     80

In [9]:
# 通过位置索引切片获取一行
print(df[0:1])
# 通过位置索引切片获取多行
print(df[1:3])
# 获取多行里面的某几列
print(df[1:3][['name','age']])
# 获取DataFrame的列
print(df['name'])
# 如果获取多个列
print(df[['name','age']])

         name age weight
001  ZhangSan  18     50
       name age weight
002    LiSi  20     55
003  WangWu  19     60
       name age
002    LiSi  20
003  WangWu  19
001    ZhangSan
002        LiSi
003      WangWu
004     ZhaoLiu
Name: name, dtype: object
         name age
001  ZhangSan  18
002      LiSi  20
003    WangWu  19
004   ZhaoLiu  22

# 【神仙的自我修养】

df[]不支持直接输入标签索引获取行数据，例如：df['001']<br/>
这种方式可以获取一列数据，列如：df['name']<br/>
如果想获取多行里面的某几列可写成：df[行][列]，例如：df[1:3][['name','age']],将列索引值放到同一个列表中，再将列表放到第二个方括号中

In [10]:
import pandas as pd

df_dict = {
	'name':['ZhangSan','LiSi','WangWu','ZhaoLiu'],
	'age':['18','20','19','22'],
	'weight':['50','55','60','80']
}
df = pd.DataFrame(data=df_dict,index=['001','002','003','004'])
print(df)

# 获取某一行某一列的数据
print(df.loc['001','name'])
# 某一行多列的数据
print(df.loc['001',['name','weight']])
# 一行所有列
print(df.loc['001',:])
# 选择间隔的多行多列
print(df.loc[['001','003'],['name','weight']])
# 选择连续的多行和间隔的多列
print(df.loc['001':'003','name':'weight'])

         name age weight
001  ZhangSan  18     50
002      LiSi  20     55
003    WangWu  19     60
004   ZhaoLiu  22     80
ZhangSan
name      ZhangSan
weight          50
Name: 001, dtype: object
name      ZhangSan
age             18
weight          50
Name: 001, dtype: object
         name weight
001  ZhangSan     50
003    WangWu     60
         name age weight
001  ZhangSan  18     50
002      LiSi  20     55
003    WangWu  19     60

# 【神仙的自我修养】
df.loc[] 通过标签索引获取行数据，它的语法结构是这样的：<br/>
df.loc[[行],[列]]，方括号中用逗号分隔，左侧是行、右侧是列。<br/>
千万注意：如果行或者列使用切片的时候，要把方括号去掉，列df.loc['001':'003','name':'weight']。

In [11]:
# 取一行
print(df.iloc[1])
# 取连续多行
print(df.iloc[0:2])
# 取间断的多行
print(df.iloc[[0,2],:])
# 取某一列
print(df.iloc[:,1])
# 某一个值
print(df.iloc[1,0])

name      LiSi
age         20
weight      55
Name: 002, dtype: object
         name age weight
001  ZhangSan  18     50
002      LiSi  20     55
         name age weight
001  ZhangSan  18     50
003    WangWu  19     60
001    18
002    20
003    19
004    22
Name: age, dtype: object
LiSi

需要注意的是，loc和iloc的切片操作在是否包含切片终点的数据有差异。loc['001':'003']的结果中包含行索引003对应的行。iloc[0:2] 结果中不包含序号为2的数据，切片终点对应的数据不在筛选结果中。

 iterrows(): 按行遍历，将DataFrame的每一行转化为(index, Series)对。index为行索引值，Series为该行对应的数据。

In [13]:
for index,row_data in df.iterrows():
    print(index,row_data)

001 name      ZhangSan
age             18
weight          50
Name: 001, dtype: object
002 name      LiSi
age         20
weight      55
Name: 002, dtype: object
003 name      WangWu
age           19
weight        60
Name: 003, dtype: object
004 name      ZhaoLiu
age            22
weight         80
Name: 004, dtype: object

iteritems():按列遍历，将DataFrame的每一列转化为(column, Series)对。column为列索引的值，Series为该列对应的数据。

In [14]:
for col,col_data in df.iteritems():
    print(col)

name
age
weight

In [15]:
from pandas import Series,DataFrame
index_list = ['001','002','003','004','005','006','007','008','009','010']
name_list = ['李白','王昭君','诸葛亮','狄仁杰','孙尚香','妲己','周瑜','张飞','王昭君','大乔']
age_list = [25,28,27,25,30,29,25,32,28,26]
salary_list = ['10k','12.5','20k','14k','12k','17k','18k','21k','22k','21.5k']
marital_list = ['NO','NO','YES','YES','NO','NO','NO','YES','NO','YES']
dic={
    '姓名': Series(data=name_list,index=index_list),
    '年龄': Series(data=age_list,index=index_list),
    '薪资': Series(data=salary_list,index=index_list),
    '婚姻状况': Series(data=marital_list,index=index_list)
    }
df=DataFrame(dic)

for value in df['薪资']:
    print(value)
for index, row_data in df.iterrows():
    print(row_data['薪资'])
for col, col_data in df.iteritems():
    if col == '薪资':
        print(col_data)

10k
12.5
20k
14k
12k
17k
18k
21k
22k
21.5k
10k
12.5
20k
14k
12k
17k
18k
21k
22k
21.5k
001      10k
002     12.5
003      20k
004      14k
005      12k
006      17k
007      18k
008      21k
009      22k
010    21.5k
Name: 薪资, dtype: object